<h1 id="setting-up-the-browser">Setting Up the Browser</h1>
<p>Protractor works with <a href="http://docs.seleniumhq.org/docs/03_webdriver.jsp">Selenium WebDriver</a>, a browser automation framework. Selenium WebDriver supports several browser implementations or <a href="http://docs.seleniumhq.org/docs/03_webdriver.jsp#selenium-webdriver-s-drivers">drivers</a> which are discussed below.</p>
<h2 id="browser-support" class="anchored"><div><a href="#{{path}}#browser-support">&#x1f517;</a>Browser Support</div></h2>
<p>Protractor supports the two latest major versions of Chrome, Firefox, Safari, and IE.</p>
<p>Please see <a href="#/browser-support">Browser Support</a> for a full list of
supported browsers and known issues.</p>
<h2 id="configuring-browsers" class="anchored"><div><a href="#{{path}}#configuring-browsers">&#x1f517;</a>Configuring Browsers</div></h2>
<p>In your Protractor config file (see <a href="https://github.com/angular/protractor/blob/master/lib/conf.ts">config.ts</a>), all browser setup is done within the <code ng-non-bindable>capabilities</code> object. This object is passed directly to the WebDriver builder (<a href="https://code.google.com/p/selenium/source/browse/javascript/webdriver/builder.js">builder.js</a>). </p>
<p>See <a href="https://github.com/SeleniumHQ/selenium/wiki/DesiredCapabilities">DesiredCapabilities</a> for full information on which properties are available.</p>
<h2 id="using-mobile-browsers" class="anchored"><div><a href="#{{path}}#using-mobile-browsers">&#x1f517;</a>Using Mobile Browsers</div></h2>
<p>Please see the <a href="#/mobile-setup">Mobile Setup</a> documentation for information on mobile browsers.</p>
<h2 id="using-browsers-other-than-chrome" class="anchored"><div><a href="#{{path}}#using-browsers-other-than-chrome">&#x1f517;</a>Using Browsers Other Than Chrome</div></h2>
<p>To use a browser other than Chrome, simply set a different browser name in the capabilities object.</p>
<pre><code class="lang-javascript">capabilities: {
  &#39;browserName&#39;: &#39;firefox&#39;
}
</code></pre>
<p>You may need to install a separate binary to run another browser, such as IE or Android. For more information, see <a href="http://docs.seleniumhq.org/download/">SeleniumHQ Downloads</a>.</p>
<h2 id="adding-chrome-specific-options" class="anchored"><div><a href="#{{path}}#adding-chrome-specific-options">&#x1f517;</a>Adding Chrome-Specific Options</div></h2>
<p>Chrome options are nested in the <code ng-non-bindable>chromeOptions</code> object. A full list of options is at the <a href="https://sites.google.com/a/chromium.org/chromedriver/capabilities">ChromeDriver</a> site. For example, to show an FPS counter in the upper right, your configuration would look like this:</p>
<pre><code class="lang-javascript">capabilities: {
  &#39;browserName&#39;: &#39;chrome&#39;,
  &#39;chromeOptions&#39;: {
    &#39;args&#39;: [&#39;show-fps-counter=true&#39;]
  }
},
</code></pre>
<h2 id="testing-against-multiple-browsers" class="anchored"><div><a href="#{{path}}#testing-against-multiple-browsers">&#x1f517;</a>Testing Against Multiple Browsers</div></h2>
<p>If you would like to test against multiple browsers, use the <code ng-non-bindable>multiCapabilities</code> configuration option.</p>
<pre><code class="lang-javascript">multiCapabilities: [{
  &#39;browserName&#39;: &#39;firefox&#39;
}, {
  &#39;browserName&#39;: &#39;chrome&#39;
}]
</code></pre>
<p>Protractor will run tests in parallel against each set of capabilities. Please note that if <code ng-non-bindable>multiCapabilities</code> is defined, the runner will ignore the <code ng-non-bindable>capabilities</code> configuration.</p>
<h2 id="using-multiple-browsers-in-the-same-test" class="anchored"><div><a href="#{{path}}#using-multiple-browsers-in-the-same-test">&#x1f517;</a>Using Multiple Browsers in the Same Test</div></h2>
<p>If you are testing apps where two browsers need to interact with each other (e.g. chat systems), you can do that with protractor by dynamically creating browsers on the go in your test. Protractor exposes a function in the <code ng-non-bindable>browser</code> object to help you achieve this: <code ng-non-bindable>browser.forkNewDriverInstance(opt_useSameUrl, opt_copyMockModules)</code>. 
Calling this will return a new independent browser object. The first parameter in the function denotes whether you want the new browser to start with the same url as the browser you forked from. The second parameter denotes whether you want the new browser to copy the mock modules from the browser you forked from.</p>
<pre><code class="lang-javascript">browser.get(&#39;http://www.angularjs.org&#39;);
browser.addMockModule(&#39;moduleA&#39;, &quot;angular.module(&#39;moduleA&#39;, []).value(&#39;version&#39;, &#39;3&#39;);&quot;);

// To create a new browser.
var browser2 = browser.forkNewDriverInstance();

// To create a new browser with url as &#39;http://www.angularjs.org&#39;:
var browser3 = browser.forkNewDriverInstance(true);

// To create a new browser with mock modules injected:
var browser4 = browser.forkNewDriverInstance(false, true);

// To create a new browser with url as &#39;http://www.angularjs.org&#39; and mock modules injected:
var browser4 = browser.forkNewDriverInstance(true, true);
</code></pre>
<p>Now you can interact with the browsers. However, note that the globals <code ng-non-bindable>element</code>, <code ng-non-bindable>$</code>, <code ng-non-bindable>$$</code> and <code ng-non-bindable>browser</code> are all associated with the original browser. In order to interact with the new browsers, you must specifically tell protractor to do so like the following:</p>
<pre><code class="lang-javascript">var element2 = browser2.element;
var $2 = browser2.$;
var $$2 = browser2.$$;
element2(by.model(...)).click();
$2(&#39;.css&#39;).click();
$$2(&#39;.css&#39;).click();
</code></pre>
<p>Protractor will ensure that commands will automatically run in sync. For example, in the following code, <code ng-non-bindable>element(by.model(...)).click()</code> will run before <code ng-non-bindable>browser2.$(&#39;.css&#39;).click()</code>:</p>
<pre><code class="lang-javascript">browser.get(&#39;http://www.angularjs.org&#39;);
browser2.get(&#39;http://localhost:1234&#39;);

browser.sleep(5000);
element(by.model(...)).click();
browser2.$(&#39;.css&#39;).click();
</code></pre>
<h2 id="setting-up-phantomjs" class="anchored"><div><a href="#{{path}}#setting-up-phantomjs">&#x1f517;</a>Setting up PhantomJS</div></h2>
<p><em>Note: We recommend against using PhantomJS for tests with Protractor. There are many reported issues with PhantomJS crashing and behaving differently from real browsers.</em></p>
<p>In order to test locally with <a href="http://phantomjs.org/">PhantomJS</a>, you&#39;ll need to either have it installed globally, or relative to your project. For global install see the <a href="http://phantomjs.org/download.html">PhantomJS download page</a>. For local install run: <code ng-non-bindable>npm install phantomjs</code>.</p>
<p>Add phantomjs to the driver capabilities, and include a path to the binary if using local installation:</p>
<pre><code class="lang-javascript">capabilities: {
  &#39;browserName&#39;: &#39;phantomjs&#39;,

  /* 
   * Can be used to specify the phantomjs binary path.
   * This can generally be ommitted if you installed phantomjs globally.
   */
  &#39;phantomjs.binary.path&#39;: require(&#39;phantomjs&#39;).path,

  /*
   * Command line args to pass to ghostdriver, phantomjs&#39;s browser driver.
   * See https://github.com/detro/ghostdriver#faq
   */
  &#39;phantomjs.ghostdriver.cli.args&#39;: [&#39;--loglevel=DEBUG&#39;]
}
</code></pre>
