<h1 id="choosing-a-framework">Choosing a Framework</h1>
<p>Protractor supports two behavior driven development (BDD) test frameworks out of the box: Jasmine and Mocha. These frameworks are based on JavaScript and Node.js and provide the syntax, scaffolding, and reporting tools you will use to write and manage your tests.</p>
<h2 id="using-jasmine" class="anchored"><div><a href="#{{path}}#using-jasmine">&#x1f517;</a>Using Jasmine</div></h2>
<p>Currently, Jasmine Version 2.x is supported and the default test framework when you install Protractor. For more information about Jasmine, see the <a href="http://jasmine.github.io/">Jasmine GitHub site</a>. For more information regarding how to upgrade to Jasmine 2.x from 1.3, see the <a href="#/jasmine-upgrade">Jasmine upgrade guide</a>.</p>
<h2 id="using-mocha" class="anchored"><div><a href="#{{path}}#using-mocha">&#x1f517;</a>Using Mocha</div></h2>
<p><em>Note: Limited support for Mocha is available as of December 2013. For more information, see the <a href="http://mochajs.org/">Mocha documentation site</a>.</em></p>
<p>If you would like to use the Mocha test framework, you&#39;ll need to use the BDD interface and Chai assertions with <a href="http://chaijs.com/plugins/chai-as-promised">Chai As Promised</a>.</p>
<p>Download the dependencies with npm. Mocha should be installed in the same place as Protractor - so if protractor was installed globally, install Mocha with -g.</p>
<pre><code ng-non-bindable>npm install -g mocha
npm install chai
npm install chai-as-promised
</code></pre><p>You will need to require and set up Chai inside your test files:</p>
<pre><code class="lang-js">var chai = require(&#39;chai&#39;);
var chaiAsPromised = require(&#39;chai-as-promised&#39;);

chai.use(chaiAsPromised);
var expect = chai.expect;
</code></pre>
<p>You can then use Chai As Promised as such:</p>
<pre><code class="lang-js">expect(myElement.getText()).to.eventually.equal(&#39;some text&#39;);
</code></pre>
<p>Finally, set the &#39;framework&#39; property to &#39;mocha&#39;, either by adding <code ng-non-bindable>framework: &#39;mocha&#39;</code> to the config file or by adding <code ng-non-bindable>--framework=mocha</code> to the command line.</p>
<p>Options for Mocha such as &#39;reporter&#39; and &#39;slow&#39; can be given in the <a href="../spec/mochaConf.js">config file</a> with mochaOpts:</p>
<pre><code class="lang-js">mochaOpts: {
  reporter: &quot;spec&quot;,
  slow: 3000
}
</code></pre>
<p>For a full example, see Protractor’s own test: <a href="https://github.com/angular/protractor/blob/master/spec/mocha/lib_spec.js">/spec/mocha/lib_spec.js</a>.</p>
<h2 id="using-cucumber" class="anchored"><div><a href="#{{path}}#using-cucumber">&#x1f517;</a>Using Cucumber</div></h2>
<p><em>Note: Cucumber is no longer included by default as of version <code ng-non-bindable>3.0</code>. You can integrate Cucumber with Protractor with the <code ng-non-bindable>custom</code> framework option. For more information, see the <a href="https://github.com/mattfritz/protractor-cucumber-framework">Protractor Cucumber Framework site</a> or the <a href="https://github.com/cucumber/cucumber-js">Cucumber GitHub site</a>.</em></p>
<p>If you would  like to use the Cucumber test framework, download the dependencies with npm. Cucumber should be installed in the same place as Protractor - so if protractor was installed globally, install Cucumber with -g.</p>
<pre><code ng-non-bindable>npm install -g cucumber
npm install --save-dev protractor-cucumber-framework
</code></pre><p>Set the &#39;framework&#39; property to custom by adding <code ng-non-bindable>framework: &#39;custom&#39;</code> and <code ng-non-bindable>frameworkPath: &#39;protractor-cucumber-framework&#39;</code> to the <a href="../spec/cucumberConf.js">config file</a></p>
<p>Options for Cucumber such as &#39;format&#39; can be given in the config file with cucumberOpts:</p>
<pre><code class="lang-js">exports.config = {
  // set to &quot;custom&quot; instead of cucumber.
  framework: &#39;custom&#39;,

  // path relative to the current config file
  frameworkPath: &#39;protractor-cucumber-framework&#39;

  // relevant cucumber command line options
  cucumberOpts: {
    format: &quot;summary&quot;
  }
};
</code></pre>
<h2 id="using-a-custom-framework" class="anchored"><div><a href="#{{path}}#using-a-custom-framework">&#x1f517;</a>Using a Custom Framework</div></h2>
<p>Check section <a href="../lib/frameworks/README.md">Framework Adapters for Protractor</a> specifically <a href="../lib/frameworks/README.md#custom-frameworks">Custom Frameworks</a></p>
