<h1 id="getting-started">Getting Started</h1>
<p>To get started quickly, begin with the <a href="#/tutorial">Tutorial</a> which provides a step by step overview of how to install Protractor, create test files, set up config files, and run tests.</p>
<p>Protractor needs two files to run, the test or spec file, and the configuration file. For additional information, see <a href="#/api-overview">Working with Spec and Config Files</a>.</p>
<p>When writing tests, keep in mind that Protractor is a wrapper around WebDriverJS. You may want to skim through the <a href="https://code.google.com/p/selenium/wiki/WebDriverJs">WebDriverJS Users Guide</a> before writing any tests.</p>
<p>The WebDriverJS API is based on promises. To learn more, check out <a href="#/control-flow">The WebDriver Control Flow</a>.</p>
<p>To learn how Protractor, Selenium Server, and Selenium WebDriver work together, take a look at <a href="#/infrastructure">How It Works</a>. </p>
<p>Once you are familiar with Protractor, it is recommended that you start using Page Objects. For more information see <a href="#/page-objects">Using Page Objects to Organize Tests</a>.</p>
<p>For a complete list of the Protractor documentation, see the <a href="#/toc">Table of Contents</a>.</p>
