<h2 id="upgrading-from-jasmine-1-3-to-2-x">Upgrading from Jasmine 1.3 to 2.x</h2>
<p>First, please read <a href="http://jasmine.github.io/2.0/upgrading.html">Jasmine&#39;s official upgrade documentation</a>.</p>
<h3 id="in-your-conf-file">In your conf file</h3>
<p>Specify that you want to use jasmine2.x:</p>
<pre><code class="lang-javascript">exports.config = {
  // Specify you want to use jasmine 2.x as you would with mocha and cucumber.
  framework: &#39;jasmine2&#39;
};
</code></pre>
<h3 id="in-your-specs">In your specs</h3>
<h4 id="focused-specs">Focused specs</h4>
<p>Instead of <code ng-non-bindable>iit</code>, please use <code ng-non-bindable>fit</code>. Instead of <code ng-non-bindable>ddescribe</code>, please use <code ng-non-bindable>fdescribe</code>.</p>
<h4 id="timeouts">Timeouts</h4>
<p>Having a custom timeout for an <code ng-non-bindable>it</code> block as a third parameter is not currently
supported in Jasmine2, but it will be supported in a release soon. See <a href="https://github.com/angular/protractor/issues/1701">this issue</a>.</p>
<h4 id="custom-matchers">Custom matchers</h4>
<p>See <a href="http://jasmine.github.io/2.0/upgrading.html#section-Custom_Matchers">http://jasmine.github.io/2.0/upgrading.html#section-Custom_Matchers</a></p>
<p>Before:</p>
<pre><code class="lang-javascript">toHaveText: function(expectedText) {
  return this.actual.getText().then(function(actualText) {
    return expectedText === actualText;
  });
}
</code></pre>
<p>Now:</p>
<pre><code class="lang-javascript">toHaveText: function() {
  return {
    compare: function(actual, expectedText) {
      return {
        pass: actual.getText().then(function(actualText) {
          return actualText === expectedText;
        })
      };
    }
  };
}
</code></pre>
<h4 id="asynchronous-specs">Asynchronous specs</h4>
<p>Note: <code ng-non-bindable>minijasminenode</code> provided asynchronous support for jasmine1.3 before (i.e. via done callback). Jasmine 2.x now provides the support natively, but the change is mostly transparent to protractor users who are upgrading from jasmine1.3.</p>
<p>You can still pass in the done parameter as part of your asynchronous spec, but the syntax for failing it has changed.</p>
<p>Before:</p>
<pre><code class="lang-javascript">it(&#39;async spec&#39;, function(done) {
  setTimeout(function() {
    if (passed) {
      done(); // When done
    } else {
      done(&#39;failure message&#39;); // To fail spec
    }
  }, 5000);
});
</code></pre>
<p>Now:</p>
<pre><code class="lang-javascript">it(&#39;async spec&#39;, function(done) {
  setTimeout(function() {
    if (passed) {
      done(); // When done
    } else {
      done.fail(&#39;failure message&#39;); // To fail spec
    }
  }, 5000);
});
</code></pre>
