<h1 id="using-locators">Using Locators</h1>
<p>The heart of end-to-end tests for webpages is finding DOM elements, interacting with them, and getting information about the current state of your application. This doc is an overview of how to locate and perform actions on DOM elements using Protractor.</p>
<h2 id="overview" class="anchored"><div><a href="#{{path}}#overview">&#x1f517;</a>Overview</div></h2>
<p>Protractor exports a global function <code ng-non-bindable>element</code>, which takes a <em>Locator</em> and will return an <em>ElementFinder</em>. This function finds a single element - if you need to manipulate multiple elements, use the <code ng-non-bindable>element.all</code> function.</p>
<p>The <em>ElementFinder</em> has a set of <em>action methods</em>, such as <code ng-non-bindable>click()</code>, <code ng-non-bindable>getText()</code>, and <code ng-non-bindable>sendKeys</code>. These are the core way to interact with an element and get information back from it.</p>
<p>When you find elements in Protractor all actions are asynchronous. Behind the scenes, all actions are sent to the browser being controlled using the JSON Webdriver Wire Protocol. The browser then performs the action as a user natively would.</p>
<h2 id="locators" class="anchored"><div><a href="#{{path}}#locators">&#x1f517;</a>Locators</div></h2>
<p>A locator tells Protractor how to find a certain DOM element. Protractor exports locator factories on the global <code ng-non-bindable>by</code> object. The most common locators are:</p>
<pre><code class="lang-js">// find an element using a css selector
by.css(&#39;.myclass&#39;) 

// find an element with the given id
by.id(&#39;myid&#39;)

// find an element with a certain ng-model
by.model(&#39;name&#39;)

// find an element bound to the given variable
by.binding(&#39;bindingname&#39;)
</code></pre>
<p>For a list of Protractor-specific locators, see the <a href=#/{{path}}#/api?view=ProtractorBy>Protractor API: ProtractorBy</a>.</p>
<p>The locators are passed to the <code ng-non-bindable>element</code> function, as below:</p>
<pre><code class="lang-js">element(by.css(&#39;some-css&#39;));
element(by.model(&#39;item.name&#39;));
element(by.binding(&#39;item.name&#39;));
</code></pre>
<p>When using CSS Selectors as a locator, you can use the shortcut $() notation:</p>
<pre><code class="lang-js">$(&#39;my-css&#39;);

// Is the same as

element(by.css(&#39;my-css&#39;));
</code></pre>
<h2 id="actions" class="anchored"><div><a href="#{{path}}#actions">&#x1f517;</a>Actions</div></h2>
<p>The <code ng-non-bindable>element()</code> function returns an ElementFinder object. The ElementFinder knows how to locate the DOM element using the locator you passed in as a parameter, but it has not actually done so yet. It will not contact the browser until an <em>action</em> method has been called.</p>
<p>The most common action methods are:</p>
<pre><code class="lang-js">var el = element(locator);

// Click on the element
el.click();

// Send keys to the element (usually an input)
el.sendKeys(&#39;my text&#39;);

// Clear the text in an element (usually an input)
el.clear();

// Get the value of an attribute, for example, get the value of an input
el.getAttribute(&#39;value&#39;);
</code></pre>
<p>Since all actions are asynchronous, all action methods return a <a href="https://github.com/SeleniumHQ/selenium/wiki/WebDriverJs#promises">promise</a>. So, to log the text of an element, you would do something like:</p>
<pre><code class="lang-js">var el = element(locator);
el.getText().then(function(text) {
  console.log(text);
});
</code></pre>
<p>Any action available in WebDriverJS on a WebElement is available on an ElementFinder. <a href=#/{{path}}#/api?view=ElementFinder>See a full list</a>.</p>
<h2 id="finding-multiple-elements" class="anchored"><div><a href="#{{path}}#finding-multiple-elements">&#x1f517;</a>Finding Multiple Elements</div></h2>
<p>To deal with multiple DOM elements, use the <code ng-non-bindable>element.all</code> function. This also takes a locator as its only parameter.</p>
<pre><code class="lang-js">element.all(by.css(&#39;.selector&#39;)).then(function(elements) {
  // elements is an array of ElementFinders.
});
</code></pre>
<p><code ng-non-bindable>element.all()</code> has several helper functions:</p>
<pre><code class="lang-js">// Number of elements.
element.all(locator).count();

// Get by index (starting at 0).
element.all(locator).get(index);

// First and last.
element.all(locator).first();
element.all(locator).last();
</code></pre>
<h2 id="finding-sub-elements" class="anchored"><div><a href="#{{path}}#finding-sub-elements">&#x1f517;</a>Finding Sub-Elements</div></h2>
<p>To find sub-elements, simply chain element and element.all functions together as shown below.</p>
<p>Using a single locator to find:</p>
<ul>
<li><p>an element</p>
<pre><code class="lang-js"> element(by.css(&#39;some-css&#39;));
</code></pre>
</li>
<li><p>a list of elements:</p>
<pre><code class="lang-js"> element.all(by.css(&#39;some-css&#39;));
</code></pre>
</li>
</ul>
<p>Using chained locators to find:</p>
<ul>
<li><p>a sub-element:</p>
<pre><code class="lang-js"> element(by.css(&#39;some-css&#39;)).element(by.tagName(&#39;tag-within-css&#39;));
</code></pre>
</li>
<li><p>to find a list of sub-elements:</p>
<pre><code class="lang-js"> element(by.css(&#39;some-css&#39;)).all(by.tagName(&#39;tag-within-css&#39;));
</code></pre>
</li>
</ul>
<p>You can chain with get/first/last as well like so:</p>
<pre><code class="lang-js">element.all(by.css(&#39;some-css&#39;)).first().element(by.tagName(&#39;tag-within-css&#39;));
element.all(by.css(&#39;some-css&#39;)).get(index).element(by.tagName(&#39;tag-within-css&#39;));
element.all(by.css(&#39;some-css&#39;)).first().all(by.tagName(&#39;tag-within-css&#39;));
</code></pre>
<h2 id="behind-the-scenes-elementfinders-versus-webelements" class="anchored"><div><a href="#{{path}}#behind-the-scenes-elementfinders-versus-webelements">&#x1f517;</a>Behind the Scenes: ElementFinders versus WebElements</div></h2>
<p>If you&#39;re familiar with WebDriver and WebElements, or you&#39;re just curious about the WebElements mentioned above, you may be wondering how they relate to ElementFinders.</p>
<p>When you call <code ng-non-bindable>driver.findElement(locator)</code>, WebDriver immediately sends a command over to the browser asking it to locate the element. This isn&#39;t great for creating page objects, because we want to be able to do things in setup (before a page may have been loaded) like</p>
<pre><code class="lang-js">var myButton = ??;
</code></pre>
<p>and re-use the variable <code ng-non-bindable>myButton</code> throughout your test. ElementFinders get around this by simply storing the locator information until an action is called.</p>
<pre><code class="lang-js">var myButton = element(locator);
// No command has been sent to the browser yet.
</code></pre>
<p>The browser will not receive any commands until you call an action.</p>
<pre><code class="lang-js">myButton.click();
// Now two commands are sent to the browser - find the element, and then click it
</code></pre>
<p>ElementFinders also enable chaining to find subelements, such as <code ng-non-bindable>element(locator1).element(locator2)</code>.</p>
<p>All WebElement actions are wrapped in this way and available on the ElementFinder, in addition to a couple helper methods like <code ng-non-bindable>isPresent</code>. </p>
<p>You can always access the underlying WebElement using <code ng-non-bindable>element(locator).getWebElement()</code>, but you should not need to.</p>
