<h1 id="protractor-plugins">Protractor Plugins</h1>
<p>Plugins extend Protractor&#39;s base features by using hooks during test
execution to gather more data and potentially modify the test output.</p>
<p>The Protractor API and available plugins are <em>BETA</em> and may change
without a major version bump.</p>
<p>The <code ng-non-bindable>plugins</code> folder contains default plugins for Protractor.</p>
<p>##In this document:</p>
<ul>
<li><a href="#/plugins#using-plugins">Using Plugins</a></li>
<li><a href="#/plugins#writing-plugins">Writing Plugins</a></li>
<li>Default Plugins<ul>
<li><a href="#/plugins#accessibility-plugin">Accessibility Plugin</a></li>
<li><a href="#/plugins#nghint-plugin">ngHint Plugin</a></li>
<li><a href="#/plugins#timeline-plugin">Timeline Plugin</a></li>
<li><a href="#/plugins#console-plugin-chrome-only">Console Plugin</a></li>
</ul>
</li>
</ul>
<h2 id="using-plugins" class="anchored"><div><a href="#{{path}}#using-plugins">&#x1f517;</a>Using Plugins</div></h2>
<p>Plugins are enabled via your config file.</p>
<pre><code class="lang-javascript">// protractor.conf.js
exports.config = {

  // ... the rest of your config

  plugins: [{
    // The only required field for each plugin is the path to that
    // plugin&#39;s entry script.
    // Paths are relative to location of the config file.
    path: &#39;path/to/plugin/index.js&#39;,

    // Plugins may use additional options specified here. See the
    // individual plugin docs for more information.
    option1: &#39;foo&#39;,
    option2: &#39;bar&#39;
  }]
};
</code></pre>
<p>Protractor contains built in plugins in the &#39;plugins&#39; folder. An example of
using the &#39;ngHint&#39; plugin is shown below.</p>
<pre><code class="lang-javascript">  plugins: [{
    path: &#39;node_modules/protractor/plugins/ngHint&#39;,
  }]
</code></pre>
<p>If your plugin is a node module, you may use it with the <code ng-non-bindable>package</code> option. For
example, if you did <code ng-non-bindable>npm install example-protractor-plugin</code> your config would
look like:</p>
<pre><code class="lang-javascript">  plugins: [{
    package: &#39;example-protractor-plugin&#39;,
  }]
</code></pre>
<p>Finally, if you are writing a small plugin which will only be used by one config
file, you can write the plugin inline into the config:</p>
<pre><code class="lang-javascript">  plugins: [{
    inline: {
      setup: function() { ... },
      teardown: function() { ... },
      ...
    }
  }]
</code></pre>
<h2 id="writing-plugins" class="anchored"><div><a href="#{{path}}#writing-plugins">&#x1f517;</a>Writing Plugins</div></h2>
<p>Plugins are designed to work with any test framework (Jasmine, Mocha, etc),
so they use generic hooks which Protractor provides. Plugins may change
the output of Protractor by returning a results object.</p>
<p>Plugins are node modules which export an object with the following API:</p>
<pre><code class="lang-js">/**
 * Sets up plugins before tests are run. This is called after the WebDriver
 * session has been started, but before the test framework has been set up.
 *
 * @this {Object} bound to module.exports
 *
 * @throws {*} If this function throws an error, a failed assertion is added to
 *     the test results.
 *
 * @return {q.Promise=} Can return a promise, in which case protractor will wait
 *     for the promise to resolve before continuing.  If the promise is
 *     rejected, a failed assertion is added to the test results.
 */
exports.setup = function() {};

/**
 * This is called after the tests have been run, but before the WebDriver
 * session has been terminated.
 *
 * @this {Object} bound to module.exports
 *
 * @throws {*} If this function throws an error, a failed assertion is added to
 *     the test results.
 *
 * @return {q.Promise=} Can return a promise, in which case protractor will wait
 *     for the promise to resolve before continuing.  If the promise is
 *     rejected, a failed assertion is added to the test results.
 */
exports.teardown = function() {};

/**
 * Called after the test results have been finalized and any jobs have been
 * updated (if applicable).
 *
 * @this {Object} bound to module.exports
 *
 * @throws {*} If this function throws an error, it is outputted to the console
 *
 * @return {q.Promise=} Can return a promise, in which case protractor will wait
 *     for the promise to resolve before continuing.  If the promise is
 *     rejected, an error is logged to the console.
 */
exports.postResults = function() {};

/**
 * Called after each test block (in Jasmine, this means an `it` block)
 * completes.
 *
 * @param {boolean} passed True if the test passed.
 * @param {Object} testInfo information about the test which just ran.
 *
 * @this {Object} bound to module.exports
 *
 * @throws {*} If this function throws an error, a failed assertion is added to
 *     the test results.
 *
 * @return {q.Promise=} Can return a promise, in which case protractor will wait
 *     for the promise to resolve before outputting test results.  Protractor
 *     will *not* wait before executing the next test, however.  If the promise
 *     is rejected, a failed assertion is added to the test results.
 */
exports.postTest = function(passed, testInfo) {};

/**
 * This is called inside browser.get() directly after the page loads, and before
 * angular bootstraps.
 *
 * @this {Object} bound to module.exports
 *
 * @throws {*} If this function throws an error, a failed assertion is added to
 *     the test results.
 *
 * @return {q.Promise=} Can return a promise, in which case protractor will wait
 *     for the promise to resolve before continuing.  If the promise is
 *     rejected, a failed assertion is added to the test results.
 */
exports.onPageLoad = function() {};

/**
 * This is called inside browser.get() directly after angular is done
 * bootstrapping/synchronizing.  If browser.ignoreSynchronization is true, this
 * will not be called.
 *
 * @this {Object} bound to module.exports
 *
 * @throws {*} If this function throws an error, a failed assertion is added to
 *     the test results.
 *
 * @return {q.Promise=} Can return a promise, in which case protractor will wait
 *     for the promise to resolve before continuing.  If the promise is
 *     rejected, a failed assertion is added to the test results.
 */
exports.onPageStable = function() {};

/**
 * Between every webdriver action, Protractor calls browser.waitForAngular() to
 * make sure that Angular has no outstanding $http or $timeout calls.
 * You can use waitForPromise() to have Protractor additionally wait for your
 * custom promise to be resolved inside of browser.waitForAngular().
 *
 * @this {Object} bound to module.exports
 *
 * @throws {*} If this function throws an error, a failed assertion is added to
 *     the test results.
 *
 * @return {q.Promise=} Can return a promise, in which case protractor will wait
 *     for the promise to resolve before continuing.  If the promise is
 *     rejected, a failed assertion is added to the test results, and protractor
 *     will continue onto the next command.  If nothing is returned or something
 *     other than a promise is returned, protractor will continue onto the next
 *     command.
 */
exports.waitForPromise = function() {};

/**
 * Between every webdriver action, Protractor calls browser.waitForAngular() to
 * make sure that Angular has no outstanding $http or $timeout calls.
 * You can use waitForCondition() to have Protractor additionally wait for your
 * custom condition to be truthy.
 *
 * @this {Object} bound to module.exports
 *
 * @throws {*} If this function throws an error, a failed assertion is added to
 *     the test results.
 *
 * @return {q.Promise&lt;boolean&gt;|boolean} If truthy, Protractor will continue onto
 *     the next command.  If falsy, webdriver will continuously re-run this
 *     function until it is truthy.  If a rejected promise is returned, a failed
 *     assertion is added to the test results, and protractor will continue onto
 *     the next command.
 */
exports.waitForCondition = function() {};

/**
 * Used when reporting results.
 *
 * If you do not specify this property, it will be filled in with something
 * reasonable (e.g. the plugin&#39;s path)
 *
 * @type {string}
 */
exports.name = &#39;&#39;;
</code></pre>
<p>Each of these exported properties are optional.</p>
<h3 id="provided-properties-and-functions">Provided properties and functions</h3>
<p>Extra properties are added to your <code ng-non-bindable>module.exports</code> when Protractor loads your
plugin.  These allow your plugin to do things like access its configuration
block or add test results.  They are as follows:</p>
<pre><code class="lang-js">/**
 * The plugin configuration object. Note that this is not the entire
 * Protractor config object, just the entry in the plugins array for this
 * plugin.
 *
 * @type {Object}
 */
exports.config;

/**
 * Adds a failed assertion to the test&#39;s results.
 *
 * @param {string} message The error message for the failed assertion
 * @param {specName: string, stackTrace: string} options Some optional extra
 *     information about the assertion:
 *       - specName The name of the spec which this assertion belongs to.
 *            Defaults to `PLUGIN_NAME + &#39; Plugin Tests&#39;`.
 *       - stackTrace The stack trace for the failure.  Defaults to undefined.
 *     Defaults to `{}`.
 *
 * @throws {Error} Throws an error if called after results have been reported
 */
exports.addFailure(message, options);

/**
 * Adds a passed assertion to the test&#39;s results.
 *
 * @param {specName: string} options Extra information about the assertion:
 *       - specName The name of the spec which this assertion belongs to.
 *            Defaults to `PLUGIN_NAME + &#39; Plugin Tests&#39;`.
 *     Defaults to `{}`.
 *
 * @throws {Error} Throws an error if called after results have been reported
 */
exports.addSuccess(options);

/**
 * Warns the user that something is problematic.
 *
 * @param {string} message The message to warn the user about
 * @param {specName: string} options Extra information about the assertion:
 *       - specName The name of the spec which this assertion belongs to.
 *            Defaults to `PLUGIN_NAME + &#39; Plugin Tests&#39;`.
 *     Defaults to `{}`.
 */
exports.addWarning(message, options);
</code></pre>
<p>If you specify any of these properties in your plugin file, they will be
overwritten.</p>
<h2 id="accessibility-plugin" class="anchored"><div><a href="#{{path}}#accessibility-plugin">&#x1f517;</a>Accessibility Plugin</div></h2>
<p>Protractor comes with support for two accessibility testing options:</p>
<ul>
<li>Accessibility Developer Tools</li>
<li>Tenon.io</li>
</ul>
<p>Protractor will run each set of audits (depending on your configuration) on your existing end-to-end
tests to ensure your site is free of obvious errors. In this kind of testing, there is no concept of
&quot;warnings&quot;–only pass or fail. In your configuration, you can decide whether warnings should
pass or fail your build.</p>
<p>To understand how each of these tools can be used, see this support matrix:</p>
<table class="table table-striped">
<thead>
<tr>
<th>Testing Library</th>
<th>Pricing</th>
<th>API Key</th>
<th>External Request</th>
<th>No. of Tests</th>
<th>Info</th>
</tr>
</thead>
<tbody>
<tr>
<td>Chrome Accessibility Developer Tools</td>
<td>Free</td>
<td>No</td>
<td>No</td>
<td>14</td>
<td><a href="https://github.com/GoogleChrome/accessibility-developer-tools">Github</a></td>
</tr>
<tr>
<td>Tenon.io</td>
<td>Free limited accounts, paid subscriptions</td>
<td>Yes</td>
<td>Yes</td>
<td>63</td>
<td><a href="http://tenon.io/">Tenon.io</a></td>
</tr>
</tbody>
</table>
<p>Protractor now supports the <a href="https://github.com/GoogleChrome/accessibility-developer-tools">Accessibility Developer Tools</a>, the same audit library used by the <a href="https://chrome.google.com/webstore/detail/accessibility-developer-t/fpkknkljclfencbdbgkenhalefipecmb?hl=en">Chrome browser extension</a>. Protractor
<a href="https://github.com/GoogleChrome/accessibility-developer-tools/wiki/Audit-Rules">runs an audit</a>
locally by injecting the Dev Tools script into WebDriver pages, and it can diagnose issues including
missing labels, incorrect ARIA attributes and color contrast. This is a great starting point if
you can&#39;t send source code over the wire through an API.</p>
<p><a href="http://www.tenon.io">Tenon.io</a> has a more robust set of tests to help you find
accessibility issues, but it requires <a href="http://tenon.io/register.php">registering</a> for an API key
and making an external request for each test, which may not work for everyone. Some people use
Tenon with introspection services like ngrok or localtunnel to securely
test local web servers. Protractor takes the <a href="http://tenon.io/documentation/understanding-request-parameters.php">options you provide</a> in the plugin configuration and sends them
with the page source to the Tenon API. One limitation of this approach is that all scripts must be reachable from the page source as a string, for example, by using a CDN.
For projects with an MIT license, Tenon is free but with a limited
daily API limit. Paid subscriptions are available for enterprise and commercial projects.</p>
<p>Enable this plugin in your config file:</p>
<pre><code class="lang-js">  // Chrome Accessibility Dev Tools only:
  exports.config = {
      ...
      plugins: [{
        chromeA11YDevTools: {
          treatWarningsAsFailures: true
        },
        path: &#39;node_modules/protractor/plugins/accessibility&#39;
      }]
    }
</code></pre>
<pre><code class="lang-js">  // Tenon.io only:
  exports.config = {
      ...
      plugins: [{
        tenonIO: {
          options: {
            // See http://tenon.io/documentation/understanding-request-parameters.php
            // options.src will be added by the test.
          },
          printAll: false, // whether the plugin should log API response
        },
        chromeA11YDevTools: true,
        path: &#39;node_modules/protractor/plugins/accessibility&#39;
      }]
    }
</code></pre>
<h2 id="nghint-plugin" class="anchored"><div><a href="#{{path}}#nghint-plugin">&#x1f517;</a>ngHint Plugin</div></h2>
<p>ngHint adds run-time hinting to AngularJS projects. This plugin bubbles those hints up to the
command line so they can be used in automated testing.</p>
<p>You enable this plugin in your config file:</p>
<pre><code class="lang-js">exports.config = {
  plugins: [{
    path: &#39;node_modules/protractor/plugins/ngHint&#39;,

    asTests: {Boolean},
    excludeURLs: {(String|RegExp)[]}
  }]
};
</code></pre>
<p><code ng-non-bindable>asTests</code> specifies if the plugin should generate passed/failed test results
based on the ngHint output or instead log the results to the console.
Defaults to true.</p>
<p><code ng-non-bindable>excludeURLs</code> specifies a list of URLs for which ngHint results should be
ignored. Defaults to []</p>
<h2 id="timeline-plugin" class="anchored"><div><a href="#{{path}}#timeline-plugin">&#x1f517;</a>Timeline Plugin</div></h2>
<p>This plugin gathers test timeline information from the protractor test process, the selenium
client logs (if available), and sauce labs (if available), and presents the output visually.
This improves understanding of where latency issues are in tests.</p>
<p>To enable the Timeline plugin, set it up in your config file:</p>
<pre><code class="lang-js">exports.config = {
  plugins: [{
   path: &#39;node_modules/protractor/plugins/timeline/index.js&#39;,

    // Output json and html will go in this folder.
   outdir: &#39;timelines&#39;,

    // Optional - if sauceUser and sauceKey are specified, logs from
   // SauceLabs will also be parsed after test invocation.
     sauceUser: &#39;Jane&#39;,
     sauceKey: &#39;abcdefg&#39;
   }],
  // other configuration settings
};
</code></pre>
<h2 id="console-plugin-chrome-only-" class="anchored"><div><a href="#{{path}}#console-plugin-chrome-only-">&#x1f517;</a>Console Plugin (Chrome only)</div></h2>
<p>This plugin checks the browser log after each test for warnings and errors.  It
can be configured to fail a test if either is detected.  There is also an
optional exclude parameter which accepts both regex and strings.  Any log
matching the exclude parameter will not fail the test or be logged to the
console.</p>
<pre><code class="lang-js">exports.config = {
  plugins: [{
    path: &#39;node_modules/protractor/plugins/console&#39;,
    failOnWarning: {Boolean}                (Default - false),
    failOnError: {Boolean}                  (Default - true)
    exclude: {Array of strings and regex}   (Default - [])
  }]
};
</code></pre>
<p>Note that this plugin&#39;s behavior is undefined on browsers other than Chrome.
Firefox users have reported flaky results.</p>
