<h1 id="protractor-plugins">Protractor Plugins</h1>
<p>Plugins extend Protractor&#39;s base features by using hooks during test
execution to gather more data and potentially modify the test output.</p>
<p>The Protractor API and available plugins are <em>BETA</em> and may change
without a major version bump.</p>
<h2 id="table-of-contents" class="anchored"><div><a href="#{{path}}#table-of-contents">&#x1f517;</a>Table of contents</div></h2>
<ul>
<li><a href="#/plugins#using-plugins">Using Plugins</a></li>
<li><a href="#/plugins#writing-plugins">Writing Plugins</a></li>
<li><a href="#/plugins#first-party-plugins">First Party Plugins</a></li>
<li><a href="#/plugins#community-plugins">Community Plugins</a></li>
</ul>
<h2 id="using-plugins" class="anchored"><div><a href="#{{path}}#using-plugins">&#x1f517;</a>Using Plugins</div></h2>
<p>Plugins are enabled via your config file.</p>
<pre><code class="lang-javascript">// protractor.conf.js
exports.config = {

  // ... the rest of your config

  plugins: [{
    // The only required field for each plugin is the path to that
    // plugin&#39;s entry script.
    // Paths are relative to location of the config file.
    path: &#39;path/to/plugin/index.js&#39;,

    // Plugins may use additional options specified here. See the
    // individual plugin docs for more information.
    option1: &#39;foo&#39;,
    option2: &#39;bar&#39;
  }]
};
</code></pre>
<p>If your plugin is a node module, you may use it with the <code ng-non-bindable>package</code> option. For
example, if you did <code ng-non-bindable>npm install example-protractor-plugin</code> your config would
look like:</p>
<pre><code class="lang-javascript">  plugins: [{
    package: &#39;example-protractor-plugin&#39;,
  }]
</code></pre>
<p>If you are writing a small plugin which will only be used by one config file,
you can write the plugin inline into the config:</p>
<pre><code class="lang-javascript">  plugins: [{
    inline: {
      setup: function() { ... },
      teardown: function() { ... },
      ...
    }
  }]
</code></pre>
<p>When using plugins, you should specify exactly one of <code ng-non-bindable>path</code>, <code ng-non-bindable>package</code>, or
<code ng-non-bindable>inline</code>.</p>
<h2 id="writing-plugins" class="anchored"><div><a href="#{{path}}#writing-plugins">&#x1f517;</a>Writing Plugins</div></h2>
<p>Plugins are designed to work with any test framework (Jasmine, Mocha, etc),
so they use generic hooks which Protractor provides. Plugins may change
the output of Protractor by returning a results object.</p>
<p>Plugins are node modules that export an object implementing the
<code ng-non-bindable>ProtractorPlugin</code> interface.  Please see <a href="https://github.com/angular/protractor/blob/5.2.0/lib/plugins.ts#L25"><code ng-non-bindable>/lib/plugins.ts</code></a> for a list of hooks that are available to plugins.</p>
<h5 id="provided-properties-and-functions">Provided properties and functions</h5>
<p>Extra properties are added to your <code ng-non-bindable>module.exports</code> when Protractor loads your
plugin.  These allow your plugin to do things like access its configuration
block or add test results.  See <code ng-non-bindable>/lib/plugins.ts</code> for the full list.</p>
<h3 id="writing-plugins-in-typescript">Writing Plugins in TypeScript</h3>
<p>The simplest way to write plugins in TypeScript is to mirror the javascript
syntax:</p>
<pre><code class="lang-typescript">export function onPageLoad(): void {
  this.addSuccess({specName: &#39;Hello, World!&#39;});
};
</code></pre>
<p>If you want your code more heavily typed, you can write your plugin with
the <code ng-non-bindable>ProtractorPlugin</code> interface:</p>
<pre><code class="lang-typescript">import {ProtractorPlugin} from &#39;protractor&#39;;

// creating a &quot;var module: any&quot; will allow use of module.exports
declare var module: any;

let myPlugin: ProtractorPlugin = {
  addSuccess(info: {specName: string}) {
    console.log(&#39;on success: &#39; + info.specName);
  },
  onPageLoad() {
    this.addSuccess({specName: &#39;Hello, World!&#39;});
  }
};

module.exports = myPlugin;
</code></pre>
<h2 id="first-party-plugins" class="anchored"><div><a href="#{{path}}#first-party-plugins">&#x1f517;</a>First Party Plugins</div></h2>
<ul>
<li><p>Accessibility Plugin</p>
<p>The accessibility plugin runs a set of accessibility audits on your webapp.
It is published at the npm module <a href="https://www.npmjs.com/package/protractor-accessibility-plugin"><code ng-non-bindable>protractor-accessibility-plugin</code></a> and stored at
the github repo <a href="https://github.com/angular/protractor-accessibility-plugin">angular/protractor-accessibility-plugin</a>.</p>
</li>
<li><p>Timeline Plugin</p>
<p>The timeline plugin gathers test timeline information from various sources and
presents the output visually.  This improves understanding of where latency
issues are in tests.  It is published at the npm module
<a href="https://www.npmjs.com/package/protractor-timeline-plugin"><code ng-non-bindable>protractor-timeline-plugin</code></a> and stored at the
github repo <a href="https://github.com/angular/protractor-timeline-plugin">angular/protractor-timeline-plugin</a>.</p>
</li>
<li><p>Console Plugin (Chrome Only)</p>
<p>The console plugin checks the browser log after each test for warnings and
errors.  It is published at the npm module <a href="https://www.npmjs.com/package/protractor-console-plugin"><code ng-non-bindable>protractor-console-plugin</code></a> and stored at the
github repo <a href="https://github.com/angular/protractor-console-plugin">angular/protractor-console-plugin</a>.</p>
</li>
<li><p>ngHint Plugin (NOT MAINTAINED)</p>
<p>The ngHint plugin uses <a href="https://github.com/angular/angular-hint">Angular Hint</a>
to generate run-time hinting and then turns these hints into Protractor tests.
It is published at the npm module <a href="https://www.npmjs.com/package/protractor-ng-hint-plugin"><code ng-non-bindable>protractor-ng-hint-plugin</code></a> and stored at the
github repo <a href="https://github.com/angular/protractor-ng-hint-plugin">angular/protractor-ng-hint-plugin</a>.</p>
</li>
</ul>
<h2 id="community-plugins" class="anchored"><div><a href="#{{path}}#community-plugins">&#x1f517;</a>Community Plugins</div></h2>
<p>This list is here for reference and the plugins included are not developed or
mantained by protractor&#39;s team by any means. If you find any issues with this
plugins please report them to the corresponding plugin developer.</p>
<ul>
<li><p><a href="https://github.com/alfonso-presa/protractor-testability-plugin">Protractor testability plugin</a>: this plugins enables synchronous testing with protractor for features that are not developed using the services provided by AngularJS, preventing the need of additional waits coded in the tests. This happens for example if you have WebSockets communication with the server or for web applications built with frameworks different than AngularJS.</p>
</li>
<li><p><a href="https://github.com/Updater/protractor-fail-fast">protractor-fail-fast</a>: Allows Protractor to &quot;fail-fast&quot;, forcing all test runners to exit if one of them encounters a failing test. For scenarios where a failure means the entire build has failed (e.g. CI), failing fast can save a tremendous amount of time.</p>
</li>
<li><p><a href="https://github.com/Marketionist/protractor-numerator">protractor-numerator</a>: This plugin gives you readable functions for getting elements by their numbers inside Protractor tests. Adds functions like <code ng-non-bindable>.second()</code>, <code ng-non-bindable>.third()</code>, etc. instead of <code ng-non-bindable>.get(1)</code>, <code ng-non-bindable>.get(2)</code>, etc.</p>
</li>
<li><p><a href="https://github.com/mdasberg/ng-apimock">Ng-apimock</a>: this plugin adds the ability to use scenario based api mocking for local development and protractor testing for both AngularJS and Angular applications.</p>
</li>
</ul>
