<h1 id="setting-up-the-selenium-server">Setting Up the Selenium Server</h1>
<p>When working with Protractor, you need to specify how to connect to the browser drivers which will start up and control the browsers you are testing on. You will most likely use the Selenium Server. The server acts as proxy between your test script (written with the WebDriver API) and the browser driver (controlled by the WebDriver protocols).</p>
<p>The server forwards commands from your script to the driver and returns responses from the driver to your script. The server can handle multiple scripts in different languages. The server can startup and manage multiple browsers in different versions and implementations.</p>
<pre><code ng-non-bindable>     [Test Scripts] &lt; ------------ &gt; [Selenium Server] &lt; ------------ &gt; [Browser Drivers]
</code></pre><p>The <a href="https://github.com/angular/protractor/blob/master/docs/referenceConf.js">reference config file</a> includes several options for the Selenium Server, which are explained in the sections below.</p>
<h2 id="standalone-selenium-server" class="anchored"><div><a href="#{{path}}#standalone-selenium-server">&#x1f517;</a>Standalone Selenium Server</div></h2>
<p>To run the Selenium Server on your local machine, use the standalone Selenium Server. </p>
<p><strong>JDK</strong></p>
<p>To run a local Selenium Server, you will need to have the <a href="http://www.oracle.com/technetwork/java/javase/downloads/index.html">Java Development Kit (JDK)</a> installed.  Check this by running <code ng-non-bindable>java -version</code> from the command line.</p>
<p><strong>Installing and Starting the Server</strong></p>
<p>To install and start the standalone Selenium Server manually, use the webdriver-manager command line tool, which comes with Protractor.</p>
<ol>
<li><p>Run the update command:
 <code ng-non-bindable>webdriver-manager update</code>
  This will install the server and ChromeDriver.</p>
</li>
<li><p>Run the start command:
<code ng-non-bindable>webdriver-manager start</code>
 This will start the server. You will see a lot of output logs, starting with INFO. The last 
 line will  be &#39;Info - Started org.openqa.jetty.jetty.Server&#39;.</p>
</li>
<li><p>Leave the server running while you conduct your test sessions.</p>
</li>
<li><p>In your config file, set <code ng-non-bindable>seleniumAddress</code> to the address of the running server. This defaults to
<code ng-non-bindable>http://localhost:4444/wd/hub</code>.</p>
</li>
</ol>
<p><strong>Starting the Server from a Test Script</strong></p>
<p>To start the standalone Selenium Server from within your test script, set these options in your config file:</p>
<ul>
<li><p><code ng-non-bindable>seleniumServerJar</code> -  The location of the jar file for the standalone Selenium Server. Specify a file location.</p>
</li>
<li><p><code ng-non-bindable>seleniumPort</code> - The port to use to start the standalone Selenium Server. If not specified, defaults to 4444.</p>
</li>
<li><p><code ng-non-bindable>seleniumArgs</code> -  Array of command line options to pass to the server. For a full list, start the server with the <code ng-non-bindable>-help</code> flag.</p>
</li>
</ul>
<p><strong>Connecting to a Running Server</strong></p>
<p>To connect to a running instance of a standalone Selenium Server, set this option:</p>
<ul>
<li><code ng-non-bindable>seleniumAddress</code> -  Connect to a running instance of a standalone Selenium Server. The address will be a URL.</li>
</ul>
<p>Please note that if you set seleniumAddress, the settings for <code ng-non-bindable>seleniumServerJar</code>, <code ng-non-bindable>seleniumPort</code>, <code ng-non-bindable>seleniumArgs</code>, <code ng-non-bindable>browserstackUser</code>, <code ng-non-bindable>browserstackKey</code>, <code ng-non-bindable>sauceUser</code> and <code ng-non-bindable>sauceKey</code> will be ignored.</p>
<h2 id="remote-selenium-server" class="anchored"><div><a href="#{{path}}#remote-selenium-server">&#x1f517;</a>Remote Selenium Server</div></h2>
<p>To run your tests against a remote Selenium Server, you will need an account with a service that hosts the server (and the browser drivers). Protractor has built in support for <a href="https://www.browserstack.com">BrowserStack</a> and <a href="http://www.saucelabs.com">Sauce Labs</a>.</p>
<p><strong>Using BrowserStack as remote Selenium Server</strong></p>
<p>In your config file, set these options:</p>
<ul>
<li><code ng-non-bindable>browserstackUser</code> -  The username for your BrowserStack account.</li>
<li><code ng-non-bindable>browserstackKey</code> -  The key for your BrowserStack account.</li>
</ul>
<p>Please note that if you set <code ng-non-bindable>browserstackUser</code> and <code ng-non-bindable>browserstackKey</code>, the settings for <code ng-non-bindable>seleniumServerJar</code>, <code ng-non-bindable>seleniumPort</code>, <code ng-non-bindable>seleniumArgs</code>, <code ng-non-bindable>sauceUser</code> and <code ng-non-bindable>sauceKey</code> will be ignored.</p>
<p>You can optionally set the <a href="https://github.com/angular/protractor/blob/master/docs/referenceConf.js#L121"><code ng-non-bindable>name</code> property</a> in a capability in order to give the jobs a name on the server.  Otherwise they will just be allotted a random hash.</p>
<p><strong>Using Sauce Labs as remote Selenium Server</strong></p>
<p>In your config file, set these options:</p>
<ul>
<li><code ng-non-bindable>sauceUser</code> -  The username for your Sauce Labs account.</li>
<li><code ng-non-bindable>sauceKey</code> -  The key for your Sauce Labs account.</li>
</ul>
<p>Please note that if you set <code ng-non-bindable>sauceUser</code> and <code ng-non-bindable>sauceKey</code>, the settings for <code ng-non-bindable>seleniumServerJar</code>, <code ng-non-bindable>seleniumPort</code>, <code ng-non-bindable>seleniumArgs</code>, <code ng-non-bindable>browserstackUser</code> and <code ng-non-bindable>browserstackKey</code> will be ignored.</p>
<p>You can optionally set the <a href="https://github.com/angular/protractor/blob/master/docs/referenceConf.js#L121"><code ng-non-bindable>name</code> property</a> in a capability in order to give the jobs a name on the server.  Otherwise they will just be called <code ng-non-bindable>Unnamed Job</code>.</p>
<h2 id="connecting-directly-to-browser-drivers" class="anchored"><div><a href="#{{path}}#connecting-directly-to-browser-drivers">&#x1f517;</a>Connecting Directly to Browser Drivers</div></h2>
<p>Protractor can test directly against Chrome and Firefox without using a Selenium Server. To use this, in your config file set <code ng-non-bindable>directConnect: true</code>.</p>
<ul>
<li><code ng-non-bindable>directConnect: true</code> -  Your test script communicates directly Chrome Driver or Firefox Driver, bypassing any Selenium Server. If this is true, settings for <code ng-non-bindable>seleniumAddress</code> and <code ng-non-bindable>seleniumServerJar</code> will be ignored. If you attempt to use a browser other than Chrome or Firefox an error will be thrown.</li>
</ul>
<p>The advantage of directly connecting to browser drivers is that your test scripts may start up and run faster.</p>
