<h1 id="table-of-contents">Table of Contents</h1>
<p>Protractor Setup</p>
<ul>
<li><a href="#/protractor-setup">Setting Up Protractor</a></li>
<li><a href="#/server-setup">Setting Up the Selenium Server</a></li>
<li><a href="#/browser-setup">Setting Up the Browser</a></li>
<li><a href="#/frameworks">Choosing a Framework</a></li>
</ul>
<p>Protractor Tests</p>
<ul>
<li><a href="#/getting-started">Getting Started</a></li>
<li><a href="#/tutorial">Tutorial</a></li>
<li><a href="#/api-overview">Working with Spec and Config Files</a></li>
<li><a href="#/system-setup">Setting Up the System Under Test</a></li>
<li><a href="#/locators">Using Locators</a></li>
<li><a href="#/page-objects">Using Page Objects to Organize Tests</a></li>
<li><a href="#/debugging">Debugging Protractor Tests</a></li>
</ul>
<p>Reference</p>
<ul>
<li><a href=https://github.com/angular/protractor/blob/master/docs/referenceConf.js>Reference Config File</a></li>
<li><a href="#/api">Protractor API</a></li>
<li><a href="#/timeouts">Timeouts</a></li>
<li><a href="#/control-flow">The WebDriver Control Flow</a></li>
<li><a href="#/infrastructure">How It Works</a></li>
<li><a href="#/faq">FAQ</a></li>
</ul>
