<h1 id="tutorial">Tutorial</h1>
<p>This is a simple tutorial that shows you how to set up Protractor and start running tests.</p>
<h2 id="prerequisites">Prerequisites</h2>
<p>Protractor is a <a href="http://nodejs.org/">Node.js</a> program. To run, you will need to have Node.js installed. You will download Protractor package using <a href="https://www.npmjs.org/">npm</a>, which comes with Node.js. Check the version of Node.js you have by running <code>node --version</code>. It should be greater than v0.10.0.</p>
<p>By default, Protractor uses the <a href="http://jasmine.github.io/1.3/introduction.html">Jasmine</a> test framework for its testing interface. This tutorial assumes some familiarity with Jasmine.</p>
<p>This tutorial will set up a test using a local standalone Selenium Server to control browsers. You will need to have the <a href="http://www.oracle.com/technetwork/java/javase/downloads/index.html">Java Development Kit (JDK)</a> installed to run the standalone Selenium Server. Check this by running <code>java -version</code> from the command line.</p>
<h2 id="setup">Setup</h2>
<p>Use npm to install Protractor globally with:</p>
<pre><code>npm install -g protractor</code></pre>
<p>This will install two command line tools, <code>protractor</code> and <code>webdriver-manager</code>. Try running <code>protractor --version</code> to make sure it&#39;s working.</p>
<p>The <code>webdriver-manager</code> is a helper tool to easily get an instance of a Selenium Server running. Use it to download the necessary binaries with:</p>
<pre><code>webdriver-manager update</code></pre>
<p>Now start up a server with:</p>
<pre><code>webdriver-manager start</code></pre>
<p>This will start up a Selenium Server and will output a bunch of info logs. Your Protractor test will send requests to this server to control a local browser. Leave this server running throughout the tutorial. You can see information about the status of the server at <code>http://localhost:4444/wd/hub</code>.</p>
<h2 id="step-0-write-a-test">Step 0 - write a test</h2>
<p>Open a new command line or terminal window and create a clean folder for testing.</p>
<p>Protractor needs two files to run, a <strong>spec file</strong> and a <strong>configuration file</strong>. </p>
<p>Let&#39;s start with a simple test that navigates to an example AngluarJS application and checks its title. We’ll use the Super Calculator application at <a href="http://juliemr.github.io/protractor-demo/"><a href="http://juliemr.github.io/protractor-demo/">http://juliemr.github.io/protractor-demo/</a></a>.</p>
<p>Copy the following into spec.js:</p>
<pre><code class="lang-javascript">// spec.js
describe(&#39;angularjs homepage&#39;, function() {
  it(&#39;should have a title&#39;, function() {
    browser.get(&#39;http://juliemr.github.io/protractor-demo/&#39;);

    expect(browser.getTitle()).toEqual(&#39;Super Calculator&#39;);
  });
});</code></pre>
<p>The <code>describe</code> and <code>it</code> syntax is from the Jasmine framework. <code>browser</code> is a global created by Protractor, which is used for browser-level commands such as navigation with <code>browser.get</code>.</p>
<p>Now create the configuration file. Copy the following into conf.js:</p>
<pre><code class="lang-js">// conf.js
exports.config = {
  seleniumAddress: &#39;http://localhost:4444/wd/hub&#39;,
  specs: [&#39;spec.js&#39;]
}</code></pre>
<p>This configuration tells Protractor where your test files (<code>specs</code>) are, and where to talk to your Selenium Server (<code>seleniumAddress</code>). It will use the defaults for all other configuration. Chrome is the default browser.</p>
<p>Now run the test with</p>
<pre><code>protractor conf.js</code></pre>
<p>You should see a Chrome browser window open up and navigate to the Calculator, then close itself (this should be very fast!). The test output should be <code>1 tests, 1 assertion, 0 failures</code>. Congratulations, you&#39;ve run your first Protractor test!</p>
<h2 id="step-1-interacting-with-elements">Step 1 - interacting with elements</h2>
<p>Now let&#39;s modify the test to interact with elements on the page. Change spec.js to the following:</p>
<pre><code class="lang-js">// spec.js
describe(&#39;angularjs homepage&#39;, function() {
  it(&#39;should add one and two&#39;, function() {
    browser.get(&#39;http://juliemr.github.io/protractor-demo/&#39;);
    element(by.model(&#39;first&#39;)).sendKeys(1);
    element(by.model(&#39;second&#39;)).sendKeys(2);

    element(by.id(&#39;gobutton&#39;)).click();

    expect(element(by.binding(&#39;latest&#39;)).getText()).
        toEqual(&#39;5&#39;); // This is wrong!
  });
});</code></pre>
<p>This uses the globals <code>element</code> and <code>by</code>, which are also created by Protractor. The <code>element</code> function is used for finding HTML elements on your webpage. It returns an ElementFinder object, which can be used to interact with the element or get information from it. In this test, we use <code>sendKeys</code> to type into <code>&lt;input&gt;</code>s, <code>click</code> to click a button, and <code>getText</code> to return the content of an element.</p>
<p><code>element</code> takes one parameter, a Locator, which describes how to find the element. The <code>by</code> object creates Locators. Here, we&#39;re using three types of Locators:</p>
<ul>
<li><code>by.model(&#39;first&#39;)</code> to find the element with <code>ng-model=&quot;first&quot;</code>. If you inspect the Calculator page source, you will see this is <code>&lt;input type=text ng-model=&quot;first&quot;&gt;</code>.</li>
<li><code>by.id(&#39;gobutton&#39;)</code> to find the element with the given id. This finds <code>&lt;button id=&quot;gobutton&quot;&gt;</code>.</li>
<li><p><code>by.binding(&#39;latest&#39;)</code> to find the element bound to the variable <code>latest</code>. This finds the span containing <code>{{latest}}</code></p>
<p><a href="#/locators">Learn more about locators and ElementFinders</a>.</p>
</li>
</ul>
<p>Run the tests with</p>
<pre><code>protractor conf.js</code></pre>
<p>You should see the page enter two numbers and wait for the result to be displayed. Because the result is 3, not 5, our test fails. Fix the test and try running it again.</p>
<h2 id="step-2-writing-multiple-scenarios">Step 2 - writing multiple scenarios</h2>
<p>Let&#39;s put these two tests together and clean them up a bit. Change spec.js to the following:</p>
<pre><code class="lang-js">// spec.js
describe(&#39;angularjs homepage&#39;, function() {
  var firstNumber = element(by.model(&#39;first&#39;));
  var secondNumber = element(by.model(&#39;second&#39;));
  var goButton = element(by.id(&#39;gobutton&#39;));
  var latestResult = element(by.binding(&#39;latest&#39;));

  beforeEach(function() {
    browser.get(&#39;http://juliemr.github.io/protractor-demo/&#39;);
  });

  it(&#39;should have a title&#39;, function() {
    expect(browser.getTitle()).toEqual(&#39;Super Calculator&#39;);
  });

  it(&#39;should add one and two&#39;, function() {
    firstNumber.sendKeys(1);
    secondNumber.sendKeys(2);

    goButton.click();

    expect(latestResult.getText()).toEqual(&#39;3&#39;);
  });

  it(&#39;should add four and six&#39;, function() {
    // Fill this in.
    expect(latestResult.getText()).toEqual(&#39;10&#39;);
  });
});</code></pre>
<p>Here, we&#39;ve pulled the navigation out into a <code>beforeEach</code> function which is run before every <code>it</code> block. We&#39;ve also stored the ElementFinders for the first and second input in nice variables that can be reused. Fill out the second test using those variables, and run the tests again to ensure they pass.</p>
<h2 id="step-3-changing-the-configuration">Step 3 - changing the configuration</h2>
<p>Now that we&#39;ve written some basic tests, let&#39;s take a look at the configuration file. The configuration file lets you change things like which browsers are used and how to connect to the Selenium Server. Let&#39;s change the browser. Change conf.js to the following:</p>
<pre><code class="lang-js">// conf.js
exports.config = {
  seleniumAddress: &#39;http://localhost:4444/wd/hub&#39;,
  specs: [&#39;spec.js&#39;],
  capabilities: {
    browserName: &#39;firefox&#39;
  }
}</code></pre>
<p>Try running the tests again. You should see the tests running on Firefox instead of Chrome. The <code>capabilities</code> object describes the browser to be tested against. For a full list of options, see <a href=https://github.com/angular/protractor/blob/master/docs/referenceConf.js>the reference config file</a>.</p>
<p>You can also run tests on more than one browser at once. Change conf.js to:</p>
<pre><code class="lang-js">// conf.js
exports.config = {
  seleniumAddress: &#39;http://localhost:4444/wd/hub&#39;,
  specs: [&#39;spec.js&#39;],
  multiCapabilities: [{
    browserName: &#39;firefox&#39;
  }, {
    browserName: &#39;chrome&#39;
  }]
}</code></pre>
<p>Try running once again. You should see the tests running on Chrome and Firefox simultaneously, and the results reported separately on the command line.</p>
<h2 id="step-4-lists-of-elements">Step 4 - lists of elements</h2>
<p>Let&#39;s go back to the test files. Feel free to change the configuration back to using only one browser.</p>
<p>Sometimes, you will want to deal with a list of multiple elements. You can do this with <code>element.all</code>, which returns an ElementArrayFinder. In our calculator application, every operation is logged in the history, which is implemented on the site as a table with <code>ng-repeat</code>. Let&#39;s do a couple of operations, then test that they&#39;re in the history. Change spec.js to:</p>
<pre><code class="lang-js">// spec.js
describe(&#39;angularjs homepage&#39;, function() {
  var firstNumber = element(by.model(&#39;first&#39;));
  var secondNumber = element(by.model(&#39;second&#39;));
  var goButton = element(by.id(&#39;gobutton&#39;));
  var latestResult = element(by.binding(&#39;latest&#39;));
  var history = element.all(by.repeater(&#39;result in memory&#39;));

  function add(a, b) {
    firstNumber.sendKeys(a);
    secondNumber.sendKeys(b);
    goButton.click();
  }

  beforeEach(function() {
    browser.get(&#39;http://juliemr.github.io/protractor-demo/&#39;);
  });

  it(&#39;should have a history&#39;, function() {
    add(1, 2);
    add(3, 4);

    expect(history.count()).toEqual(2);

    add(5, 6);

    expect(history.count()).toEqual(0); // This is wrong!
  });
});</code></pre>
<p>We&#39;ve done a couple things here - first, we created a helper function, <code>add</code>. We&#39;ve added the variable <code>history</code>. We use <code>element.all</code> with the <code>by.repeater</code> Locator to get an ElementArrayFinder. In our spec, we assert that the history has the expected length using the <code>count</code> method. Fix the test so that the second expectation passes.</p>
<p><code>ElementArrayFinder</code> has many methods in addition to <code>count</code>. Let&#39;s use <code>last</code> to get an ElementFinder that matches the last element found by the Locator. Change the test to:</p>
<pre><code class="lang-js">  it(&#39;should have a history&#39;, function() {
    add(1, 2);
    add(3, 4);

    expect(history.last().getText()).toContain(&#39;1 + 2&#39;);
    expect(history.first().getText()).toContain(&#39;foo&#39;); // This is wrong!
  });</code></pre>
<p>Since the Calculator reports the oldest result at the bottom, the oldest addition (1 + 2) be the last history entry. We&#39;re using the <code>toContain</code> Jasmine matcher to assert that the element text contains &quot;1 + 2&quot;. The full element text will also contain the timestamp and the result. </p>
<p>Fix the test so that it correctly expects the first history entry to contain the text &quot;3 + 4&quot;.</p>
<p>ElementArrayFinder also has methods <code>each</code>, <code>map</code>, <code>filter</code>, and <code>reduce</code> which are analogous to JavaScript Array methods. <a href="#/api?view=ElementArrayFinder">Read the API for more details</a>.</p>
<h2 id="where-to-go-next">Where to go next</h2>
<p>This should get you started writing tests. To learn more, see the documentation <a href="#/toc">Table of Contents</a>.</p>
