@protractor-red: #e23237;
@protractor-red-dark: #b52e31;

.protractor-container {
  margin-bottom: 50px;

  .twitter {
    margin: 20px 0;
    text-align: center;
  }

  .protractor-header {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 90px;

    .protractor-logo {
      display: inline-block;
      @media (max-width: 500px) {
        background-image: url(../img/protractor-logo-300.png);
        height: 67px;
        width: 300px;
      }
      @media (min-width: 500px) {
        background-image: url(../img/protractor-logo-450.png);
        height: 101px;
        width: 450px;
      }
    }
  }

  .gist {
    margin: 20px 0;
  }
}

.github-button {
  background-color: @protractor-red;

  &:hover {
    background-color: @protractor-red-dark;
  }

  img {
    margin-right: 12px;
  }
}

// The grid is too wide.
@media (min-width: 1200px) {
  .container {
    max-width: 960px;
  }
}
