<p><span>{{greeting}}</span><span data-ng-bind="username"></span> - this uses different types of input.</p>
<div>Username
  <input ng-model="username" type="text"/>
</div>
<div ng-style="{'color': color}">Color <br/>
  <input ng-model="color" value="blue" type="radio"/> blue <br/>
  <input ng-model="color" value="green" type="radio"/> green <br/>
  <input ng-model="color" value="red" type="radio"/> red <br/>
</div>
<div>
<input ng-model="show" type="checkbox"/> Show?
<span id="shower" ng-show="show">Shown!!</span>
</div>

<input ng:model="check.w" ng-true-value="w" type="checkbox"/> W
<input data-ng-model="check.x" ng-true-value="x" type="checkbox"/> X
<input x-ng-model="check.y" ng-true-value="y" type="checkbox"/> Y
<input ng_model="check.z" ng-true-value="z" type="checkbox"/> Z
<span id="letterlist">{{check.w}}{{check.x}}{{check.y}}{{check.z}}</span>

<ul><li ng-repeat="baz in days | filter:'T'">{{baz}}</li></ul>
<ul><li data-ng-repeat="day in days">{{day}}</li></ul>
<ul><li ng:repeat="bar in days">{{bar}}</li></ul>
<ul><li ng_repeat="foo in days">{{foo}}</li></ul>
<ul><li x-ng-repeat="qux in days">{{qux}}</li></ul>
