<article class="markdown-body entry-content" itemprop="mainContentOfPage"><h1>
  <a name="user-content-debugging-protractor-tests" class="anchor" href="#debugging-protractor-tests" aria-hidden="true"><span class="octicon octicon-link"></span></a>Debugging Protractor Tests
</h1>

  <p>End-to-end tests can be difficult to debug because they depend on an entire
    system, may depend on prior actions (such as log-in), and may change the
    state of the application they're testing. WebDriver tests in particular
    can be difficult to debug because of long error messages and the separation
    between the browser and the process running the test.</p>

  <h2>
    <a name="user-content-types-of-failure" class="anchor" href="#types-of-failure" aria-hidden="true"><span class="octicon octicon-link"></span></a>Types of Failure
  </h2>

  <p>Protractor comes with examples of failing tests (<a href="https://github.com/angular/protractor/blob/master/debugging/failure_spec.js">failure_spec.js</a>).
    To run, start up the test application and a Selenium Server, and run the command below. Then look at all the stack traces.
  </p>

<pre><code>protractor debugging/failureConf.js
</code></pre>

  <p>This test suite shows various types of failure:</p>

  <ul class="task-list">
    <li> WebDriver throws an error - When a command cannot be completed, for example
      an element is not found.
    </li>
    <li> Protractor will fail when it cannot find the Angular library on a page.
      If your test needs to interact with a non-angular page, access the WebDriver
      instance directly with <code>browser.driver</code>.
    </li>
    <li> Expectation Failure - Shows what a normal expectation failure looks
      like.
    </li>
  </ul>
  <h2>
    <a name="user-content-pausing-to-debug" class="anchor" href="#pausing-to-debug" aria-hidden="true"><span class="octicon octicon-link"></span></a>Pausing to Debug
  </h2>

  <p>Protractor allows you to pause your test at any point and interact with the
    browser. To do this insert
    <code>browser.debugger();</code> into your test where you want
    to break:</p>

  <div class="highlight highlight-javascript"><pre><span class="nx">it</span><span class="p">(</span><span class="s1">'should fail to find a non-existent element'</span><span class="p">,</span> <span class="kd">function</span><span class="p">()</span> <span class="p">{</span>
  <span class="nx">browser</span><span class="p">.</span><span class="nx">get</span><span class="p">(</span><span class="s1">'app/index.html#/form'</span><span class="p">);</span>

  <span class="c1">// Run this statement before the line which fails. If protractor is run</span>
  <span class="c1">// with the debugger (protractor debug &lt;...&gt;), the test</span>
  <span class="c1">// will pause after loading the webpage but before trying to find the</span>
  <span class="c1">// element.</span>
  <span class="nx">browser</span><span class="p">.</span><span class="kr">debugger</span><span class="p">();</span>

  <span class="c1">// This element doesn't exist, so this fails.</span>
  <span class="kd">var</span> <span class="nx">nonExistant</span> <span class="o">=</span> <span class="nx">element</span><span class="p">(</span><span class="nx">by</span><span class="p">.</span><span class="nx">binding</span><span class="p">(</span><span class="s1">'nopenopenope'</span><span class="p">));</span>
<span class="p">});</span>
</pre>
  </div>

  <p>Then run the test in debug mode:</p>

<pre><code>protractor debug debugging/failureConf.js
</code></pre>

  <p>This example uses the
    <a href="http://nodejs.org/api/debugger.html">node debugger</a>. Enter
    <code>c</code> to start execution and continue after the breakpoint.</p>

  <p>We use <code>browser.debugger();</code> instead of node's
    <code>debugger;</code> statement so that
    the test pauses after the get command has been executed. Using
    <code>debugger;</code>
    pauses the test after the get command is scheduled but has not yet
    been sent to the browser.</p>

  <p>Protractor's
    <code>debugger</code> method works by scheduling a node debug breakpoint
    on the control flow.</p>

  <p>When
    <code>debugger()</code> is called, it also inserts all the client side scripts
    from Protractor into the browser as
    <code>window.clientSideScripts</code>. They can be
    used from the browser's console.</p>

  <div class="highlight highlight-javascript"><pre><span class="c1">// In the browser console (e.g. from Chrome Dev Tools)</span>
<span class="o">&gt;</span> <span class="nb">window</span><span class="p">.</span><span class="nx">clientSideScripts</span><span class="p">.</span><span class="nx">findInputs</span><span class="p">(</span><span class="s1">'username'</span><span class="p">);</span>
<span class="c1">// Should return the input element with model 'username'.</span>

<span class="c1">// You can also limit the scope of the locator</span>
<span class="o">&gt;</span> <span class="nb">window</span><span class="p">.</span><span class="nx">clientSideScripts</span><span class="p">.</span><span class="nx">findInputs</span><span class="p">(</span><span class="s1">'username'</span><span class="p">,</span> <span class="nb">document</span><span class="p">.</span><span class="nx">getElementById</span><span class="p">(</span><span class="s1">'#myEl'</span><span class="p">));</span>
</pre>
  </div>

  <h2>
    <a name="user-content-setting-up-webstorm-for-debugging" class="anchor" href="#setting-up-webstorm-for-debugging" aria-hidden="true"><span class="octicon octicon-link"></span></a>Setting Up WebStorm for Debugging
  </h2>

  <p>To set up WebStorm for Protractor, do the following:</p>

  <ol class="task-list">
    <li>Open the Run/Debug Configurations dialog</li>
    <li>Add new Node.js configuration.</li>
    <li>On the Configuration tab set:

      <ul class="task-list">
        <li>
          <strong>Node Interpreter</strong>: path to node executable
        </li>
        <li>
          <strong>Working directory</strong>: your project base path
        </li>
        <li>
          <strong>JavaScript file</strong>: path to Protractor cli.js file (e.g.
          <em>node_modules\protractor\lib\cli.js</em>)
        </li>
        <li>
          <strong>Application parameters</strong>: path to your Protractor configuration file (e.g.
          <em>protractorConfig.js</em>)
        </li>
      </ul>
    </li>
    <li>Click OK, place some breakpoints, and start debugging.</li>
  </ol>
  <h2>
    <a name="user-content-testing-out-protractor-interactively" class="anchor" href="#testing-out-protractor-interactively" aria-hidden="true"><span class="octicon octicon-link"></span></a>Testing Out Protractor Interactively
  </h2>

  <p>When debugging or first writing test suites, you may find it helpful to
    try out Protractor commands without starting up the entire test suite. You can
    do this with the element explorer.</p>

  <p>Currently, the explorer runs only with chrome and expects a standalone Selenium
    Server to be running at http://localhost:4444.</p>

  <p>From the Protractor directory, run with:</p>

<pre><code>node ./bin/elementexplorer.js &lt;urL&gt;
</code></pre>

  <p>This will load up the URL on WebDriver and put the terminal into a REPL loop.
    You will see a &gt; prompt. The <code>browser</code>,
    <code>element</code> and <code>protractor</code> variables will
    be available. Enter a command such as:</p>

<pre><code>&gt; element(by.id('foobar')).getText()
</code></pre>

  <p>or</p>

<pre><code>&gt; browser.get('http://www.angularjs.org')
</code></pre>

  <p>To get a list of functions you can call, try:</p>

<pre><code>&gt; browser
</code></pre>

  <p>Typing tab at a blank prompt will fill in a suggestion for finding
    elements.</p>

  <h2>
    <a name="user-content-taking-screenshots" class="anchor" href="#taking-screenshots" aria-hidden="true"><span class="octicon octicon-link"></span></a>Taking Screenshots
  </h2>

  <p>WebDriver can snap a screenshot with <code>browser.takeScreenshot()</code>.
    This returns a promise which will resolve to the screenshot as a base-64
    encoded PNG.</p>

  <p>Sample usage:</p>

  <div class="highlight highlight-javascript"><pre><span class="c1">// at the top of the test spec:</span>
<span class="kd">var</span> <span class="nx">fs</span> <span class="o">=</span> <span class="nx">require</span><span class="p">(</span><span class="s1">'fs'</span><span class="p">);</span>

<span class="c1">// ... other code</span>

<span class="c1">// abstract writing screen shot to a file</span>
<span class="kd">function</span> <span class="nx">writeScreenShot</span><span class="p">(</span><span class="nx">data</span><span class="p">,</span> <span class="nx">filename</span><span class="p">)</span> <span class="p">{</span>
    <span class="kd">var</span> <span class="nx">stream</span> <span class="o">=</span> <span class="nx">fs</span><span class="p">.</span><span class="nx">createWriteStream</span><span class="p">(</span><span class="nx">filename</span><span class="p">);</span>

    <span class="nx">stream</span><span class="p">.</span><span class="nx">write</span><span class="p">(</span><span class="k">new</span> <span class="nx">Buffer</span><span class="p">(</span><span class="nx">data</span><span class="p">,</span> <span class="s1">'base64'</span><span class="p">));</span>
    <span class="nx">stream</span><span class="p">.</span><span class="nx">end</span><span class="p">();</span>
<span class="p">}</span>

<span class="c1">// ...</span>

<span class="c1">// within a test:</span>
<span class="nx">browser</span><span class="p">.</span><span class="nx">takeScreenshot</span><span class="p">().</span><span class="nx">then</span><span class="p">(</span><span class="kd">function</span> <span class="p">(</span><span class="nx">png</span><span class="p">)</span> <span class="p">{</span>
    <span class="nx">writeScreenShot</span><span class="p">(</span><span class="nx">png</span><span class="p">,</span> <span class="s1">'exception.png'</span><span class="p">);</span>
<span class="p">});</span>
</pre>
  </div>

  <h2>
    <a name="user-content-timeouts" class="anchor" href="#timeouts" aria-hidden="true"><span class="octicon octicon-link"></span></a>Timeouts
  </h2>

  <p>There are several ways that Protractor can time out. See the
    <a href="/angular/protractor/blob/master/docs/timeouts.md">Timeouts</a>
    reference for full documentation.</p>
</article>
