<div>
  <h1>Choosing a Framework</h1>

  <p>
    Protractor supports three behavior driven development (BDD) test
    frameworks: Jasmine, Mocha, and Cucumber. These frameworks are based on
    JavaScript and Node.js and provide the syntax, scaffolding, and reporting
    tools you will use to write and manage your tests.
  </p>

  <h2>Using Jasmine</h2>

  <p>Jasmine is the default test framework and is available for use when you install Protractor. Currently, Jasmine Version 1.3 is supported. For more information, see the
    <a href="http://jasmine.github.io/">Jasmine GitHub site</a>.
  </p>

  <h2>Using Mocha</h2>

  <p>
    <em>Note: Limited support for Mocha is available as of December 2013. For more information, see the
      <a href="http://visionmedia.github.io/mocha/">Mocha GitHub site</a>.</em>

  </p>

  <p>If you would like to use the Mocha test framework, you'll need to use the BDD interface and Chai assertions with
    <a href="http://chaijs.com/plugins/chai-as-promised">Chai As Promised</a>.

  </p>

  <p>Download the dependencies with npm. Mocha should be installed in the same place as Protractor - so if protractor was installed globally, install Mocha with -g.
  </p>

<pre><code>npm install -g mocha
  npm install chai
  npm install chai-as-promised
</code></pre>

  <p>You will need to require and set up Chai inside your test files:
  </p>

  <div class="highlight highlight-js"><pre><span class="kd">var</span> <span class="nx">chai</span> <span class="o">=</span> <span class="nx">require</span><span class="p">(</span><span class="s1">'chai'</span><span class="p">);</span>
<span class="kd">var</span> <span class="nx">chaiAsPromised</span> <span class="o">=</span> <span class="nx">require</span><span class="p">(</span><span class="s1">'chai-as-promised'</span><span class="p">);</span>

<span class="nx">chai</span><span class="p">.</span><span class="nx">use</span><span class="p">(</span><span class="nx">chaiAsPromised</span><span class="p">);</span>
<span class="kd">var</span> <span class="nx">expect</span> <span class="o">=</span> <span class="nx">chai</span><span class="p">.</span><span class="nx">expect</span><span class="p">;</span>
</pre>
  </div>

  <p>You can then use Chai As Promised as such:
  </p>

  <div class="highlight highlight-js"><pre><span class="nx">expect</span><span class="p">(</span><span class="nx">myElement</span><span class="p">.</span><span class="nx">getText</span><span class="p">()).</span><span class="nx">to</span><span class="p">.</span><span class="nx">eventually</span><span class="p">.</span><span class="nx">equal</span><span class="p">(</span><span class="s1">'some text'</span><span class="p">);</span>
</pre>
  </div>

  <p>Finally, set the 'framework' property to 'mocha', either by adding
    <code>framework: 'mocha'</code> to the config file or by adding
    <code>--framework=mocha</code> to the command line.
  </p>

  <p>Options for Mocha such as 'reporter' and 'slow' can be given in the
    <a href="https://github.com/angular/protractor/blob/master/spec/mochaConf.js">config file</a> with mochaOpts:

  </p>

  <div class="highlight highlight-js"><pre><span class="nx">mochaOpts</span><span class="o">:</span> <span class="p">{</span>
  <span class="nx">reporter</span><span class="o">:</span> <span class="s2">"spec"</span><span class="p">,</span>
  <span class="nx">slow</span><span class="o">:</span> <span class="mi">3000</span>
<span class="p">}</span>
</pre>
  </div>

  <p>For a full example, see Protractor’s own test:
    <a href="https://github.com/angular/protractor/tree/master/spec/mocha">/spec/mocha</a>.

  </p>

  <h2>Using Cucumber</h2>

  <p>
    <em>Note: Limited support for Cucumber is available as of January 2014. Support for Cucumber in Protractor is maintained by the community, so bug fixes may be slow. For more information, see the
      <a href="https://github.com/cucumber/cucumber-js">Cucumber GitHub site</a>.</em>

  </p>

  <p>If you would like to use the Cucumber test framework, download the dependencies with npm. Cucumber should be installed in the same place as Protractor - so if protractor was installed globally, install Cucumber with -g.
  </p>

<pre><code>npm install -g cucumber
</code></pre>

  <p>Set the 'framework' property to cucumber, either by adding
    <code>framework: 'cucumber'</code> to the
    <a href="https://github.com/angular/protractor/blob/master/spec/cucumberConf.js">config file</a> or by adding
    <code>--framework=cucumber</code> to the command line.
  </p>

  <p>Options for Cucumber such as 'format' can be given in the config file with cucumberOpts:
  </p>

  <div class="highlight highlight-js"><pre><span class="nx">cucumberOpts</span><span class="o">:</span> <span class="p">{</span>
  <span class="nx">format</span><span class="o">:</span> <span class="s2">"summary"</span>
<span class="p">}</span>
</pre>
  </div>

  <p>For a full example, see Protractor’s own test:
    <a href="https://github.com/angular/protractor/tree/master/spec/cucumber">/spec/cucumber</a>.

  </p></div>
