<article>
  <h1> How It Works </h1>

  <p>Protractor is an end-to-end test framework for AngularJS applications.
    Protractor is a Node.js program that supports the Jasmine, Mocha, and
    Cucumber test frameworks.</p>

  <p>Selenium is a browser automation framework. Selenium includes the Selenium
    Server, the WebDriver APIs, and the WebDriver browser drivers.</p>

  <p>Protractor works in conjunction with Selenium to provide an automated test
    infrastructure that can simulate a user’s interaction with an Angular
    application running in a browser or mobile device.</p>

  <p>
    <a href="img/components.png" target="_blank">
      <img src="img/components.png"
          alt="Protractor Components Diagram" style="max-width:100%;">
    </a>
  </p>

  <p>When working with Protractor, it’s important to keep the following in
    mind:</p>

  <ul>
    <li>Protractor is a wrapper around WebDriverJS, the JavaScript bindings for
      the Selenium WebDriver API (before writing any tests, skim through the
      <a href="https://code.google.com/p/selenium/wiki/WebDriverJs">WebDriverJS
        Users Guide</a>).
    </li>
    <li>WebDriver commands are asynchronus. They are scheduled on a control
      flow and return promises, not primitive values (see
      <a href="#/control-flow">The WebDriver Control Flow</a>).
    </li>
    <li>Your test scripts send commands to the Selenium Server, which in turn
      communicates with the browser driver. Read on for more details.</li>
  </ul>

  <h2>Process Communication</h2>

  <p>A test using Selenium WebDriver involves three processes - the test
    script, the server, and the browser. The communication between these
    processes is shown in the diagram below.</p>

  <p>
    <a href="img/processes.png" target="_blank"><img src="img/processes.png"
        alt="WebDriver test Processes Diagram" style="max-width:100%;"></a>
  </p>

  <p>The Selenium Server takes care of interpreting commands from the test and
    forwarding them to one or more browsers. Communication between the server
    and the browser uses the
    <a href="https://code.google.com/p/selenium/wiki/JsonWireProtocol">WebDriver
      Wire Protocol</a>, a JSON protocol. The command is interpreted by the
    Browser Driver.
  </p>

  <p>With Protractor, the test script is run using Node.js. Protractor runs an
    extra command before performing any action on the browser to ensure that
    the application being tested has stabilized. For example, let's look at the
    following snippet of test code.</p>

<pre ptor-inline-code>
element(by.css('button.myclass')).click();
</pre>

  <p>This will result in three commands being sent to the Browser Driver</p>

  <ul class="task-list">
    <li><p>
      <a href="https://code.google.com/p/selenium/wiki/JsonWireProtocol#/session/:sessionId/execute_async">/session/:sessionId/execute_async</a> - First, Protractor tells the browser to run a snippet of JavaScript. This is a custom command which asks Angular to respond when the application is done with all timeouts and asynchronous requests, and ready for the test to resume.
    </p></li>
    <li><p>
      <a href="https://code.google.com/p/selenium/wiki/JsonWireProtocol#POST_/session/:sessionId/element">/session/:sessionId/element</a> - Then, the command to find the element is sent.
    </p></li>
    <li><p>
      <a href="https://code.google.com/p/selenium/wiki/JsonWireProtocol#POST_/session/:sessionId/element/:id/click">/session/:sessionId/element/:id/click</a> - Finally the command to perform a click action is sent.
    </p></li>
  </ul>
</article>
