<div>
  <h1> Using Locators </h1>

  <p>The heart of end-to-end tests for webpages is finding DOM elements,
    interacting with them, and getting information about the current state of
    your application. This doc is an overview of how to locate and perform
    actions on DOM elements using Protractor.</p>

  <h2>Overview</h2>

  <p>
    Protractor exports a global function <code>element</code>, which takes a
    <em>Locator</em> and will return an <em>ElementFinder</em>. This function
    finds a single element - if you need to manipulate multiple elements, use
    the <code>element.all</code> function.</p>

  <p>
    The <em>ElementFinder</em> has a set of <em>action methods</em>, such as
    <code>click()</code>, <code>getText()</code>, and <code>sendKeys</code>.
    These are the core way to interact with an element and get information back
    from it.
  </p>

  <p>
    When you find elements in Protractor all actions are asynchronous. Behind
    the scenes, all actions are sent to the browser being controlled using the
    JSON Webdriver Wire Protocol. The browser then performs the action as a
    user natively would.</p>

  <h2>Locators</h2>

  <p>
    A locator tells Protractor how to find a certain DOM element. Protractor
    exports locator factories on the global <code>by</code> object. The most
    common locators are:</p>

<pre ptor-inline-code>
// find an element using a css selector
by.css('.myclass')

// find an element with the given id
by.id('myid')

// find an element with a certain ng-model
by.model('name')

// find an element bound to the given variable
by.binding('bindingname')
</pre>

  <p>
    For a list of Protractor-specific locators, see the
    <a href="#/api?view=ProtractorBy">Protractor API: ProtractorBy</a>.
  </p>

  <p>The locators are passed to the <code>element</code> function, as below:</p>

<pre ptor-inline-code>
element(by.css('some-css'));
element(by.model('item.name'));
element(by.binding('item.name'));
</pre>

  <p>When using CSS Selectors as a locator, you can use the shortcut $()
    notation:</p>

<pre ptor-inline-code>
$('my-css');

// Is the same as

element(by.css('my-css'));
</pre>

  <h2>Actions</h2>

  <p>
    The <code>element()</code> function returns an ElementFinder object. The
    ElementFinder knows how to locate the DOM element using the locator you
    passed in as a parameter, but it has not actually done so yet. It will not
    contact the browser until an <em>action</em> method has been called.</p>

  <p>The most common action methods are:</p>

<pre ptor-inline-code>
var el = element(locator);

// Click on the element
el.click();

// Send keys to the element (usually an input)
el.sendKeys('my text');

// Clear the text in an element (usually an input)
el.clear();

// Get the value of an attribute, for example, get the value of an input
el.getAttribute('value');
</pre>

  <p>Since all actions are asynchronous, all action methods return a
    <a href="https://code.google.com/p/selenium/wiki/WebDriverJs#Promises">promise</a>.
    So, to log the text of an element, you would do something like:
  </p>

<pre ptor-inline-code>
var el = element(locator);
el.getText().then(function(text) {
  console.log(text);
});
</pre>

  <p>
    Any action available in WebDriverJS on a WebElement is available on an
    ElementFinder.
    <a href="#/api?view=ElementFinder">See a full list</a>.
  </p>

  <h2>Finding Multiple Elements</h2>

  <p>To deal with multiple DOM elements, use the <code>element.all</code>
    function. This also takes a locator as its only parameter.
  </p>

<pre ptor-inline-code>
element.all(by.css('.selector')).then(function(elements) {
  // elements is an array of ElementFinders.
});
</pre>

  <p><code>element.all()</code> has several helper functions:</p>

<pre ptor-inline-code>
// Number of elements.
element.all(locator).count();

// Get my index (starting at 0).
element.all(locator).get(index);

// First and last.
element.all(locator).first();
element.all(locator).last();
</pre>

  <h2>Finding Sub-Elements</h2>

  <p>To find sub-elements, simply chain element and element.all functions
    together as shown below.</p>

  <p>Using a single locator to find:</p>

  <p>an element</p>

  <pre ptor-inline-code>element(by.css('some-css'));</pre>

  <p>a list of elements:</p>

  <pre ptor-inline-code>element.all(by.css('some-css'));</pre>

  <p>Using chained locators to find:</p>


  <p>a sub-element:</p>

<pre ptor-inline-code>
element(by.css('some-css')).element(by.tagName('tag-within-css'));
</pre>


  <p>to find a list of sub-elements:</p>

<pre ptor-inline-code>
element(by.css('some-css')).all(by.tagName('tag-within-css'));
</pre>

  <p>You can chain with get/first/last as well like so:</p>

<pre ptor-inline-code>
element.all(by.css('some-css')).first().element(by.tagName('tag-within-css'));
element.all(by.css('some-css')).get(index).element(by.tagName('tag-within-css'));
element.all(by.css('some-css')).first().all(by.tagName('tag-within-css'));
</pre>

  <h2>Behind the Scenes: ElementFinders versus WebElements</h2>

  <p>If you're familiar with WebDriver and WebElements, or you're just curious
    about the WebElements mentioned above, you may be wondering how they relate
    to ElementFinders.</p>

  <p>
    When you call <code>driver.findElement(locator)</code>, WebDriver
    immediately sends a command over to the browser asking it to locate the
    element. This isn't great for creating page objects, because we want to be
    able to do things in setup (before a page may have been loaded) like
  </p>

<pre ptor-inline-code>
var myButton = ??;
</pre>

  <p>
    and re-use the varialbe <code>myButton</code> throughout your test.
    ElementFinders get around this by simply storing the locator information
    until an action is called.
  </p>

<pre ptor-inline-code>
var myButton = element(locator);
// No command has been sent to the browser yet.
</pre>

  <p>The browser will not receive any commands until you call an action.</p>

<pre ptor-inline-code>
myButton.click();
// Now two commands are sent to the browser - find the element, and then click it
</pre>

  <p>
    ElementFinders also enable chaining to find subelements, such as
    <code>element(locator1).element(locator2)</code>.</p>

  <p>
    All WebElement actions are wrapped in this way and available on the
    ElementFinder, in addition to a couple helper methods like <code>isPresent</code>.
  </p>

  <p>
    You can always access the underlying WebElement using
    <code>element(locator).getWebElement()</code>, but you should not need to.
  </p>
</div>
