<article>
  <h1> Using Page Objects to Organize Tests </h1>

  <p>
    When writing end-to-end tests, a common pattern is to use
    <a href="https://code.google.com/p/selenium/wiki/PageObjects">Page Objects</a>.
    Page Objects help you write cleaner tests by encapsulating information about
    the elements on your application page. A Page Object can be reused across
    multiple tests, and if the template of your application changes, you only
    need to update the Page Object.
  </p>

  <h2>Without Page Objects</h2>

  <p>
    Here’s a simple test script
    (<a href="https://github.com/angular/protractor/blob/master/example/example_spec.js">example_spec.js</a>)
    for ‘The Basics’ example on the
    <a href="http://www.angularjs.org">angularjs.org</a> homepage.</p>

<pre ptor-inline-code>
describe('angularjs homepage', function() {
  it('should greet the named user', function() {
    browser.get('http://www.angularjs.org');
    element(by.model('yourName')).sendKeys('Julie');
    var greeting = element(by.binding('yourName'));
    expect(greeting.getText()).toEqual('Hello Julie!');
  });
});
</pre>

  <h2>With PageObjects</h2>

  <p>To switch to Page Objects, the first thing you need to do is create a Page Object. A Page Object for ‘The Basics’ example on the angularjs.org homepage could look like this:</p>

<pre ptor-inline-code>
var AngularHomepage = function() {
  this.nameInput = element(by.model('yourName'));
  this.greeting = element(by.binding('yourName'));

  this.get = function() {
    browser.get('http://www.angularjs.org');
  };

  this.setName = function(name) {
    this.nameInput.sendKeys(name);
  };
};
</pre>

  <p>The next thing you need to do is modify the test script to use the PageObject and its properties. Note that the
    <em>functionality</em> of the test script itself does not change (nothing is added or deleted).
  </p>

<pre ptor-inline-code>
describe('angularjs homepage', function() {
  it('should greet the named user', function() {
    var angularHomepage = new AngularHomepage();
    angularHomepage.get();

    angularHomepage.setName('Julie');

    expect(angularHomepage.greeting.getText()).toEqual('Hello Julie!');
  });
});
</pre>

  <h2>Configuring Test Suites</h2>

  <p>It is possible to separate your tests into various test suites. In your config file, you could setup the suites option as shown below. </p>

<pre ptor-inline-code>
exports.config = {
  // The address of a running selenium server.
  seleniumAddress: 'http://localhost:4444/wd/hub',

  // Capabilities to be passed to the webdriver instance.
  capabilities: {
    'browserName': 'chrome'
  },

  // Spec patterns are relative to the location of the spec file. They may
  // include glob patterns.
  suites: {
    homepage: 'tests/e2e/homepage/**/*Spec.js',
    search: ['tests/e2e/contact_search/**/*Spec.js',
      'tests/e2e/venue_search/**/*Spec.js']
  },

  // Options to be passed to Jasmine-node.
  jasmineNodeOpts: {
    showColors: true, // Use colors in the command line report.
  }
};
</pre>
  <p>From the command line, you can then easily switch between running one or the other suite of tests. This command will run only the homepage section of the tests:</p>

<pre ptor-inline-code>protractor protractor.conf.js --suite homepage</pre>

</article>
