<div>
  <h1>Getting Installed</h1>

  <h2>Prerequisites</h2>

  <h4>Node.js</h4>

  <p>
    Protractor is a
    <a href="http://nodejs.org/">Node.js</a> program. To run Protractor, you
    will need to have Node.js installed. Check the version of node you have by
    running <code>node --version</code>. It should be greater than v0.10.0.
  </p>

  <p>
    Node.js comes with the Protractor <a href="https://www.npmjs.org/">npm</a>
    package, which you can use to install Protractor.
  </p>

  <h2>Installing Protractor</h2>

  <p>
    Use npm to install Protractor globally (omit the -g if you’d prefer not to
    install globally):
  </p>

  <pre>npm install -g protractor</pre>

  <p>
    Check that Protractor is working by running
    <code>protractor --version</code>.
  </p>

  <p>
    The Protractor install includes the following:
  </p>

  <ul>
    <li><code>protractor</code> command line tool</li>
    <li><code>webdriver-manager</code> command line tool</li>
    <li>Protractor API (library)</li>
  </ul>
</div>
